        
h1 {
    color: blueviolet;
    border: 3px solid green;
    text-align: center;
    }
                    
p {
   color: blue;
   font-size: 15px;
   text-align: justify;
   border: red;
     }

img {
    color: aqua;
    border: 3px Solid aquamarine;
    }
